<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/newteam" method="POST">
     Team Name: <input type="text" name="team_name" id="name">
     Coach: <input type="text" name="coach" id="coach">
     Point Guard: <input type="text" name="point_guard" id="pg">
     Shooting Guard: <input type="text" name="shooting_guard" id="sg">
     Small Forward: <input type="text" name="small_forward" id="sf">
     Power Forward: <input type="text" name="power_forward" id="pf">
     Center: <input type="text" name="center" id="c">

     <input type="submit" id="Submit">
   </form>
 </body>
</html>
